@import url(reset.css);

:root {
	/* Shorthand font prop: https://developer.mozilla.org/en-US/docs/Web/CSS/font */
	--body-font: 18px/1.5 "Fanwood Text", serif;
	--code-font: 1em "JetBrains Mono", monospace;
	--sans-font: 1em "Raleway", sans-serif;
	--head-font: 400 36px "Raleway", sans-serif;
}

@media print {
	:root {
		--body-font: 11pt/1.1 "Fanwood Text", serif;
		--head-font: 400 24pt "Raleway", sans-serif;
		--margin: 0.25in;
		--margin-bottom: 0.35in;

		--pagedjs-margin-top: var(--margin);
		--pagedjs-margin-bottom: var(--margin-bottom);
		--pagedjs-margin-left: var(--margin);
		--pagedjs-margin-right: var(--margin);
	}
	
	@page {
		size: 4.25in 5.5in;
		margin: var(--margin, 0.25in);
		margin-bottom: var(--margin-bottom, 0.35in);
	}
	
	@page:left {
		@bottom-left {
			content: counter(page);
		}
	}
	
	@page:right {
		@bottom-right {
			content: counter(page);
		}
	}
	
	/* @page:first {
		@bottom-right {
			content: none;
		}
	}
	@page:nth(2) {
		@bottom-left {
			content: none;
		}
	}
	@page:nth(23) {
		@bottom-right {
			content: none;
		}
	}
	@page:nth(24) {
		@bottom-left {
			content: none;
		}
	} */

	section {
		orphans: 2;
		widows: 2;
	}
	
	section:not(.nobreak) {
		break-before: page;
	}
	
	section.chapter {
		break-before: right;
	}

	a:after {
		content:" <" attr(href) "> ";
	}

	section.cover {
		/* height: calc(100vh - var(--margin) - var(--margin-bottom)); */
	}
}

body {
	font: var(--body-font);
  font-optical-sizing: auto;
}

h1, h2, h3, h4 {
	font: var(--head-font);
	text-align: center;
	margin-block-start: 0;
	margin-block-end: 1em;
	text-wrap: balance;
}

p {
	margin-block: 0;
	text-wrap: pretty;
	word-break: auto-phrase;
	hyphen: auto;
	text-indent: 1em;
}

blockquote p {
	text-indent: 0;
}

code {
	font: var(--code-font);
	font-size: 0.9em;
}

code:not(pre code) {
	background: #ddd;
	padding-inline: .2em;
}

pre {
	margin-block: .5em;
	border: 1px solid grey;
	padding: .5em;

	& code {
		display: block;
		white-space: pre-wrap;
		text-indent: 2.5em each-line hanging;
	}
}

hr {
	border: 0;
	margin-block: .7em;
}

blockquote {
	font: var(--sans-font);
	margin-block: .5em;
	margin-inline-start: 2em;
}

p.tbc {
	font: var(--sans-font);
	color: grey;
	margin-block: 1em;
	text-align: end;
}

section.cover {
	background-size: cover;
	height: 35em;
	max-width: 100%;
	max-height: 100%;
	padding: 3em 1em;

	&.invert {
		color: white;
	}

	svg {
		width: 100%;
		height: auto;
		margin-block-end: .5em;
	}
}

section.toc {
	font-size: 0.8rem;

	h3 {
		font-size: 1.2em;
		margin-block-end: 0;
		text-align: start;
	}

	p {
		text-indent: 0;
		font: var(--sans-font);
		line-height: 1.2;

		&.cover-credit {
			font-size: 0.8em;
			margin-block-end: 1em;
		}

		&.colophon {
			font-size: 0.8em;
			padding: 0.5em;
			border: 1px solid grey;
		}
	}

	li {
		margin-block-end: 0.5em;
	}
}

@media screen {
	section {
		margin: 2em auto;
		width: 30rem;

		&:not(.cover) {
			border-top: 1px solid grey;
			padding-top: 2em;
		}
	}
}